#app {
  max-width: 850px;
  margin: 0 auto;
}

nav {
  padding: 20px 0;
  display: flex;
}

form {
  margin-top: 3rem;
}

/*form {
  padding: 0 20px;
  align-items: left;
  border-left: 3px solid;
  border-right: 3px solid;
  border-top: 3px solid;
  background: linear-gradient(0deg, #2a0000, #1b0000);
  border-image: linear-gradient(#728c00, transparent) 1;
}*/

body {
  background-color: #006060;
}

table {
  border-spacing: unset;
  width: 100%;
  height: 100%;
}

.paginator {
  list-style-type: none;
  font-weight: bold;
  display: flex;
  font-size: xx-large;
  align-items: center;
  justify-content: center;
}

.paginator li {
  color: #F09048;
  margin: 0;
  width: 100%;
}

.paginator li:hover {
  color: #FF9494;
}

.paginator .selected {
  color: #FF9494;
}

.link-watch {
  color: #b0bf1a;
  padding: 0 1rem;
  text-decoration: none;
  border-radius: 15px;
  border: 1px transparent solid;
  padding: 1rem;
  font-weight: bold;
}

.link-watch:hover {
  color: #F09048;
  background-color: black;
  box-shadow: 0px 0px 11px 10px rgb(250 250 250 / 20%);
  border: 1px solid;
  font-weight: bold;
}

.button-delete {
  color: #FF9494;
  background-color: transparent;
  padding: 1rem;
  border-radius: 15px;
  border: 1px transparent solid;
  font-weight: bold;
}

.button-delete:hover {
  color: white;
  background-color: #FF3333;
  box-shadow: 0px 0px 11px 10px rgb(250 250 250 / 20%);
  border: 1px solid;
}

button:disabled {
  color: gray;
  pointer-events: none;
}

.link-courses {
  color: #64e986;
  display: flex;
  text-decoration: none;
}

.link-courses:hover {
  color: #9acd32;
}

tr {
  text-align: center;
  color: #daee01;
}

td {
  padding: 1rem;
}

.button-custom {
  margin-bottom: 20;
}

.select-custom {
  display: flex;
  background: transparent;
  border: transparent;
  color: #daee01;
  padding: 1rem;
  border: solid transparent;
}

.custom-td {
  border-bottom: 1px #254117 solid;
  text-align: center;
  color: #64e986;
}

.custom-th {
  color: #daee01;
  border-bottom: 4px #4e8975 solid;
  border-top: 4px #4e8975 solid;
  font-size: x-large;
}

.input-save {
  border-style: solid;
  border-color: transparent;
  background-color: transparent;
  color: #b0bf1a;
  border: 1px transparent solid;
  border-radius: 15px;
  border: 7px solid;
  padding: 1rem;
  display: flex;
  margin-top: 5px;
}

.input-save:hover {
  border-style: solid;
  border-color: transparent;
  background-color: transparent;
  color: black;
  background-color: #00FF00;
  box-shadow: 0px 0px 11px 10px rgb(250 250 250 / 20%);
  border-radius: 15px;
  border: 7px solid;
  padding: 1rem;
  margin-top: 5px;
}

.button-nav {
  border-style: solid;
  background-color: transparent;
  color: #64e986;
  border: 7px #4e8975 solid;
  border-radius: 15px;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  margin-top: 5px;
}

.button-nav:hover {
  border-style: solid;
  border-color: transparent;
  background-color: black;
  color: #F09048;
  border: 7px solid;
  border-radius: 15px;
  margin: 1rem;
  box-shadow: 0px 0px 11px 10px rgb(250 250 250 / 20%);
  padding: 1rem;
  margin-top: 5px;
}

.error-box {
  padding-left: 1rem;
  padding-top: 10px;
  border-radius: 15px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: #FF9494;
  color: #FF3333;
  border: solid;
  font-weight: bold;
}

.input-text-field {
  display: flex;
  background: linear-gradient(#2a0000, #2a0000) padding-box,
    linear-gradient(to bottom, #daee01, #4c3131) border-box;
  border-style: solid;
  color: #daee01;
  border: 5px solid transparent;
  border-radius: 15px;
  margin: 1rem;
  box-shadow: 0px 0px 11px 10px rgb(250 250 250 / 20%);
}

.input-dropdown-field {
  display: flex;
  background: transparent;
  border-style: solid;
  color: #daee01;
}

.text-color-main {
  padding-left: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #b6fcd5;
}

.text-color-passive {
  color: #D86000;
}

.link-color {
  color: #D86000;
}

.link-position {
  padding-left: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.link-color:hover {
  color: #F09048;
}

.text-color-courses {
  padding: 2px;
  color: #4e8975;
}

.hr-vertical {
  border: solid #4e8975;
  margin: 0 1rem;
}

.custom-options {
  background-color: #4e8975;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#form {
  position: relative;
  padding: 4rem;
}
#form:before,
#form:after,
#form > :first-child:before,
#form > :first-child:after {
  position: absolute;
  width: 120px;
  height: 80px;
  color: #ffd400;
  border: 1px solid;
  border-radius: 5px;
  content: ' ';
}
#form:before {
  top: 0;
  left: 0;
  border-width: 7px 0 0 7px;
  box-shadow: -21px -21px 20px 3px rgb(250 250 250 / 20%);
}
#form:after {
  top: 0;
  right: 0;
  border-width: 7px 7px 0 0;
  box-shadow: 21px -21px 20px 3px rgb(250 250 250 / 20%);
}
#form > :first-child:before {
  bottom: 0;
  right: 0;
  border-width: 0 7px 7px 0;
  box-shadow: 21px 21px 20px 3px rgb(250 250 250 / 20%);
}
#form > :first-child:after {
  bottom: 0;
  left: 0;
  border-width: 0 0 7px 7px;
  box-shadow: -21px 21px 20px 3px rgb(250 250 250 / 20%);
}
